body{
    font-family: 'Poppins', sans-serif;
}
/* ========Commmom style======= */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* ======header styles start====== */
header{
    margin-top: 40px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.webhead{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(20, 20, 20);
    color: white;
}
.title{
    padding: 40px;
}
.title h1{
    font-size: 50px;
    text-align: start;
}
.player-img{
   text-align: center;
    padding-left: 60px;
    padding-top: 30px;
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    border: 0ch;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 16px;
}
button:hover{
    color: black;
    background-color: white;
    border: 1px solid red;
    padding: 9px 17px;
}
/* =======header style end====== */

/* =======match info start====== */
.match-info{
    background-color: black;
    border: 1px solid black;
    width: 20%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    height: 30%;
    box-shadow: 5px 10px 8px #888888;
}
.all-info {
    margin-top: 20px;
    padding: 5px 5px;
    border: 1px solid black;
    background-color: white;
    border-radius: 7px;
    font-size: 20px;   
}
.all-info a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.all-info:hover{
    background-color: red;
}
#red{
    /* background-color: red; */
}
#red a{
    /* color: white; */
}
/* =======match info end====== */

/* ======match card start======= */

.fullmatch{
    
    display: flex;
    justify-content: space-evenly;
    gap: 40px;

}
.matchcard{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.matchcard2{
    margin-bottom: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 90%;
    box-shadow: 5px 10px 18px #888888;
}
.matchcard2 img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}
.Transfer{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.Transfer a:hover{
    border: 2px solid black;
    font-weight: 700;
}
.Transfer a{
    color: black;
    text-decoration: none;
    border: 1px solid gray;
    padding: 5px 15px;
}
.card-info{
    padding-left: 15px;
    padding-bottom: 20px;
}
.icon{
    padding-left: 15px;
    display: flex;
    gap: 45px;
}
.flags{
    display: flex;
}
/* =======match card end===== */

/* =======footer start======== */

footer{
    padding: 60px 50px;
    background-color: black;
}
hr{
    color: lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1{
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
}
.list{
    color: gray;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.social-icon{
    margin-top: 30px;
    text-align: center;
   
}
.social-icon a{
    font-size: 30px;
    color: white;
    margin: 10px 20px;
}
#last-B{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 45%;
    margin-right: 40%
}
/* ========footer and======= */
/* =======mobile disply====== */
@media only screen and (max-width: 688px){
    header{
        padding-bottom: 0%;
    }
    .webhead{
        text-align: center;
        display: inline;
    }
    .title h1{
        font-size: 50px;
        text-align: center;
    }
    .match-info{
        width: 100%;
        background: none;
        border: 0;
        
    }
    .fullmatch{
        display: block;
    }
    .matchcard{
        display: block;
    }
    .matchcard2{
        width: 100%;
        
        
    }
    .list{
        flex-direction: column;
        align-items: center;
    }
}
 /* ======tables display====== */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    header{
            padding-bottom: 0%;
            margin-bottom: 30px;
        }
        #tablet{
            display: none;
        }
        .webhead{
            text-align: center;
            display: inline;
        }
        .title h1{
            font-size: 50px;
            text-align: center;
        }
        .matchcard{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .match-info{
            width: 30%;
        }
}
/* ==================mobo and tab end============= */
 